---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

import { requestOptions } from '../../request-options';
const { list_id } = Astro.params;

const listRes = await fetch(`${import.meta.env.MAILCHIMP_API_ENDPOINT}/lists/${list_id}`, requestOptions);
const listResJson = await listRes.json().catch((error) => console.log('error', error));
const list_name = listResJson.name;

const res = await fetch(
  `${import.meta.env.MAILCHIMP_API_ENDPOINT}/lists/${list_id}/interest-categories/`,
  requestOptions
);
const resJson = await res.json().catch((error) => console.log('error', error));
const categories = resJson.categories.map((category) => {
  const title = category.title;
  const id = category.id;
  return {
    title,
    id,
  };
});
---

<Layout title="MC Fetch">
  <main>
    <h1><span class="text-gradient">{list_name}</span></h1>
    <p class="instructions">Select your Interest Category to find Interest Groups.</p>
    <ul role="list" class="link-card-grid">
      {
        categories.map((category) => (
          <Card href={`/list/${list_id}/interests/${category.id}`} title={category.title} body={category.description} />
        ))
      }
    </ul>
  </main>
</Layout>
